:root {
  --color-primary: #42b883;
  --color-primary-light: #c1d1ca;
  --color-dark: #35495e;
  --color-background: #f5f7f9;
  --color-black: #000000;
  --color-gray-dark: #333333;
  --color-gray: #777777;
  --color-white: #ffffff;
  --color-error: #ff0000;
}

// 🖋 フォント
$font-family-base: "Segoe UI", Roboto, sans-serif;
